
/*Navigation bar settings*/
* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
}
.style-1 {
	text-align: center;
}
.btn{
  color:#999;
  background:rgba(0, 0, 0);
  padding:10px 20px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

h1, h2, p {
    text-align: center;
    font-family:cursive;    
}

#menu{
    top: 0;
	left: 200px;
    position: fixed;
    width: 100%;
	font-family:cursive;
	z-index: 1;
}



#about, #photos{
  position: float;
 
}

/*background settings*/
*{ margin: 0; padding: 0; }

html { 
 background: url(20686111.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}


      
      

